// COLORS
$main-color: #efbc41;
$main-color-hover: #efe254;
$main-impressive-color: #8dc63f;
$main-action-color: #3BB364;
$main-action-color-hover: #2f8e4f;
$main-action-light-color: #3bb36491;
$dark-color: #2F4858;
$light-color: #E8F6D0;
$light-color2: #ced4da;
$blue-color: #27aae1;
$error-color: #ff0000;
$grey-color: #CCCCCC;

// FONTS
$type-1: 'Poppins',
sans-serif;

$star-spacing: 2px;
$star-on-color: #F9DF4A;
$star-off-color: #CCCCCC;